<h1>فراموشی کلمه عبور</h1>

<p>
    برای بازیابی کلمه عبور خود لطفا لینک زیر را کلیک کنید: <br><br>
    <a href="{{ url }}">تغییر کلمه عبور</a>.
    زمان اعتبار این لینک :  یک ساعت از زمان ارسال.
</p>
<p>
    در صورتی که این ایمیل را اشتباها دریافت کرده اید و یا قصد بازیابی کلمه عبور خود را ندارید این پیام را نادیده بگیرید.
</p>
<p>
    با احترام
    تیم پشتیبانی حسابیکس
</p>
