{% extends 'user/base.html.twig' %}
{% block title %}تغییر کلمه عبور{% endblock %}
{% block body %}
    <div class="container px-md-5">
        <div class="container px-md-5 my-3 bg-white">
            <div class="row align-items-center justify-content-center rounded-5">
                <div class="col-lg-8 col-sm-12 py-3 border shadow-lg">
                    <p class="mb-4">
                        <i class="bi bi-key me-2"></i>
                        {{ block('title') }}
                    </p>
                    {{ form_start(form,{'attr':{'class':'ajax-off'}}) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}