<script>
    $(function() {
        'use strict';

        if($('.tarikh').length) {
            // tarikh
            $(".tarikh").persianDatepicker({
                format: "YYYY/MM/DD",
                autoclose: true
            });
        }
    });
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            {{ form_start(form) }}

            {{ form_end(form) }}
        </div>
    </div>
</div>

