{% if permission.PermissionInCurrentBusiness('bankAdd',app.session.get('bid'),app.user) %}
    <a title="حساب بانکی جدید" class="bi bi-plus-fill mx-1 bi-top text-light" href="javascript:loadComponent('{{ path('app_bank_new') }}',true);"><i class="bi bi-plus-circle-fill"></i> </a>
{% endif %}
{% if permission.PermissionInCurrentBusiness('bankEdit',app.session.get('bid'),app.user) or permission.PermissionInCurrentBusiness('bankDelete',app.session.get('bid'),app.user) %}
    <a title="لیست حساب‌های بانکی" class="mx-1 bi-top text-light" href="javascript:loadComponent('{{ path('app_bank_list') }}');"><i class="bi bi-list-task"></i> </a>
{% endif %}
