{% extends 'base.html.twig' %}

{% block title %}{% trans %}app.about{% endtrans %}{% endblock %}

{% block body %}
    <div class="col-lg-8 mx-auto p-3 py-md-5">
        <main class="">
            <h1>حسابیکس:نرم افزار آنلاین حسابداری</h1>
            <p class="col-md-12 text-center justify-content-center">مدل کسب و کار ما با سایر شرکت‌ها متفاوت است. در واقع حسابیکس برای نقد سایر شرکت‌های ارائه دهنده خدمات حسابداری و به چالش کشیدن مدل درآمد آنها به وجود آمد.
            همه‌ی ما می‌دانیم هر کسب‌وکاری زمان‌هایی دارای افول بوده و شاید در مرحله نابودی باشند در این زمان دسترسی به اطلاعات حسابداری کسب‌و‌کار از مهمترین چالشها و تحلیل این اطلاعات است اما متاسفانه با توجه به بازار نرم افزار‌های حسابداری که روز به روز به سمت گران‌تر شدن قیمت خدمات پیش می‌روند در پیچ‌های تاریخی کسب‌وکارها را تنها می‌گذارند.
                <br>
                احتمالا بعد از آنکه اوضاع خوب پیش نمی رود و چند ماهی فروش نداشته‌اید کم کم اکانت حسابداری شما در حال به اتمام رسیدن است و در مهمترین قسمت کار که قصد اتخاذ تصمیمات مهم را دارید متاسفانه به یکباره این اطلاعات از دسترستان خارج می‌شود،احتمالا با این پیغام آشنا باشید:
                <p class="text-center text-danger">مهلت زمانی اکانت شما به پایان رسیده.برای دسترسی به پنل کاربری حساب خود را شارژ کنید.</p>

            حسابیکس دقیقا در نقطه مقابل این ماجرا به وجود آمده است. که برای حداقل یک کسب و کار بتوان به صورت رایگان و فقط در مقابل نمایش تبلیغات از کلیه امکانات آن استفاده کرد.
            اگر تبلیغات را دوست ندارید می توانید با پرداخت هزینه اندک این تبلیغات را پنهان کنید.
            اگر با دانش برنامه نویسی آشنایی دارید همه‌چیز برای توسعه حسابیکس توسط شما مهیاست.تست کنید ، توسعه دهید و شاید دوست داشته باشید یکی مثل حسابیکس ایجاد کنید. حسابیکس متن باز است و دسترسی به کد منبع آن از طریق github در دسترس است.

            <br>

            <b>این داستان حسابیکس است ...</b>
            </p>

            <div class="mb-5">
                <a href="https://zarinp.al/hesabix.ir" target="_blank" class="btn btn-primary btn-lg px-4">کمک مالی به پروژه</a>
            </div>
        </main>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
